<footer>
  <div style="display: flex;
align-items:center;
background-color:rgb(48, 48, 48);
justify-content:center;
align-content: space-around;
color: rgb(204, 204, 204);
">Made with &nbsp; <i class="icon fas fa-heart"></i> &nbsp; - LHL Cohort SEP 2021 [AJ, Mays, Hasan] </div>
</footer>
