<!DOCTYPE html>
<html>

<head>
  <title>Admin Area</title>

  <!-- Meta Information -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />


  <link rel="stylesheet" id="bootstrap-css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />

  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->

  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/styles/nav.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/styles/header.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/style.css" type="text/css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- External JS -->
  <!-- reference jQuery CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <!-- App JS -->
  <script type="text/javascript" src="/scripts/client.js"></script>


  <!-- App Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">



  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />






  <!--Custom styles-->
  <!-- <link rel="stylesheet" type="text/css" href="../public/styles/style.css"> -->
<style>
  img {
    width: auto;
    height: 50vh;
  }
  </style>

</head>

<%- include('partials/_header') %>

  <body>


    <div id="myCarousel" class=" carousel slide" data-ride="carousel" data-interval="3000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://images.unsplash.com/photo-1490474418585-ba9bad8fd0ea" alt="Los Angeles">
        </div>

        <div class="item">
          <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81" alt="Chicago">
        </div>

        <div class="item">
          <img src="https://images.unsplash.com/photo-1490645935967-10de6ba17061" alt="New york" >
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </body>


</html>
