<!DOCTYPE html>
<html lang="en">

<head>
  <title>Order Details</title>

  <!-- I added this bootstrap css to experiment with -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- I added these 3 temporary files for styling and experimentation -->
  <link rel="stylesheet" href="/styles/orders.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/orders.js"></script>
</head>

<!-- This body will hold the all the elements for the entire owner's page -->
<body>

  <!-- This will be the header at the top of the page -->
  <header class="main-header">HMA RESTAURANT</header>



  <!-- This div will hold both the left side navbar and the orders container -->
  <div class="owner-page">



  <!-- This will be the left side navbar -->
  <nav class="orders-navbar">
    <section class="nav-buttons">
      <button class="active-orders" type="button">ACTIVE ORDERS</button>
      <button class="orders-history" type="button">ORDERS HISTORY</button>
      <button class="edit-menu" type="button">EDIT MENU</button>
      <button class="dashboard" type="button">DASHBOARD</button>
      <button class="logout" type="button">LOGOUT</button>
      <div ></div>
    </section>
  </nav>


  <!-- This will be the main container for the orders -->

<div class="owner-area">
  <header class="orders-header">ACTIVE ORDERS</header>
    <section class="orders-container">


<!-- This whole section is dynamically created now, so not needed.

    <section class="order-box">

      <main class="order-details">

      <div class="set-time">
        <button class="set-time-button">15 MIN</button>
        <button class="set-time-button">30 MIN</button>
        <button class="set-time-button">45 MIN</button>
      </div>

      <div class="order-details">
        <div class="order-number">Order#: 100123555</div>

        <table class="order-items">
          <tr class="order-line">
            <td class="order-qty">2x</td>
            <td class="order-item">Chicken Tandoori</td>
          </tr>

          <tr class="order-line">
            <td class="order-qty">1x</td>
            <td class="order-item">Salad</td>
          </tr>

          <tr class="order-line">
            <td class="order-qty">2x</td>
            <td class="order-item">Cheese Cake</td>
          </tr>
        </table>

        <div class="order-notes">Note: Add Raisins</div>
      </div>

      <div class="order-fulfilled">
        <button class="order-fulfilled-button" type="button">
          <i class="fa-solid fa-check"></i>
        </button>
      </div>

    </main>

    <footer class="order-time">
      <div class="time-ordered">12 min ago</div>
      <div class="time-remaining">20 min remaining</div>
    </footer>
  </section> -->

  </section>
</div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>

</html>
