
.navbar {
  font-family: 'Bungee', cursive;
  background-color: #043052;
  display: flex;
  min-height: 90px;
  font-size: 40px;
  color: white;
  
  top:0;
  width:100%;
  position: fixed;
  z-index: 100;
   
}

.header {
  /* background-color:white; */
  background-color: #000000;
  /* background-color: #043052; */
  background-image: url("../images/gplay.png");  
}
.username {
  margin: 20px 0 20px 0 ;
  font-family: 'Bungee',cursive;
  color:silver
}

.logo {
  flex: 1;
  font-size: 50px;
  display: flex;
         /* top right  bottom  left*/
  margin:    0   0     10px    1.5em;
  color: white;
  justify-content: start;
  align-items: end

}

.logo .icon {
  color: #68b1e9;
  margin: 0px 0px 45px 0px;
}


.fa.icone{
  color:#ffffff
}



.nav {
  display: flex;
  
  flex-direction: column;         /*Top to Bottom*/
  color: white;
  justify-content: flex-end;
  align-items: center;  
        /* top right  bottom  left*/  
  margin: 0px 1.5em  0px    0px;
  
}

.box {
  
  display:flex;
  flex-direction: column;         /*Top to Bottom*/
  align-items: center;            /*Items align at the vertical center of the container.*/
  justify-content: center;

        /* top right  bottom  left*/  
  margin: 10px  0   0    0;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 30px;
  font-style: bold;
        
  color: white;
  }

.span{
  font-size: 30px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  /* top right  bottom  left*/
    /* margin: 0px 0px 30px 00px; */
}




.fa.icone:hover{
  color:#68b1e9
  /* color:#ff0000 */
}

ul li {
  list-style: none;
  position: relative;  
}

.animate {
  flex:1;
  font-size: 30px;
  opacity: 0.2;
  /*ease, ease-out, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) (e.g. cubic-bezier(0.5, 0.2, 0.3, 1.0))*/
  animation: anima 1.5s ease-out infinite;
  position: absolute;
  left: -1.5rem;
  top: -1.5rem;
}
@keyframes anima {
  to {
      opacity: 1;
      top: -0.5rem;
  }
}


.change {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  transition-duration: 0.5s;
}



/* Responsive design for desktops */
@media (max-width:680px) {
  .logo {
    margin:    0   0     10px    0.5em;
    font-size: 40px;
  }
  .navbar {
    align-items: flex-end;
    font-size: 20px;
    min-height: 100px;

  }
  .nav {
    /* flex: 1; */
    /* flex-direction: column; */
    /* color: white; */
    /* justify-content: center; */
    align-items: flex-end;
    font-size: 20px;
  }
  
  .box{
    
    visibility: hidden;
  
  }

  
}  


